<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h2>Lista de Gênero</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<a class="btn btn-primary" th:href="@{/genero/new}"> 
							<i class="fa fa-plus-square"></i> Novo Gênero
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="alert  alert-success"
				th:if="${!#strings.isEmpty(mensagem)}">
				<i class="fa fa-check-circle"></i> <span th:text="${mensagem}">Mensagem de sucesso!</span>
			</div>

			<div class="table-responsive">
				<table id="tabela-produtos"
					class="table  table-striped  table-bordered  table-hover  table-condensed">
					<thead class="ut-table-header-solid">
						<tr>
							<th>Código</th>
							<th>Nome</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:id="'row_' + ${genero.id}" th:each="genero: ${list.content}">
							<td style="width:150px" class="text-center" th:text="${genero.id}">0</td>
							<td><a th:href="@{/genero/{id}(id=${genero.id})}"
								th:text="${genero.nome}">Gênero</a></td>

							<td style="width:200px" class="text-center">
								<a th:href="@{/genero/{id}(id=${genero.id})}"
									class="btn btn-primary btn-xs"> <i class="fa fa-edit"></i>
								</a> &nbsp;
								<a th:href="'javascript:remove('+ ${genero.id} +',\'/genero\');'"
									class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
						<tr th:if="${list.empty}">
							<td colspan="3">Nenhum registro encontrado.</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination" th:if="${list.totalPages > 0}" >
						<li class="page-item" 
							th:classappend="${pageNumber==list.number + 1} ? active" 
							th:each="pageNumber : ${pageNumbers}">
					    	<a class="page-link" 
					    	    th:href="@{/genero/page(size=${list.size}, page=${pageNumber})}"
					        	th:text="${pageNumber}"></a>
				        </li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
</body>
</html>
