<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>UTFPR</title>

<link rel="shortcut icon" th:href="@{/images/favicon.ico}" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet" th:href="@{/vendors/sweetalert/sweetalert.css}" />
<link rel="stylesheet" th:href="@{/vendors/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" />

<script type="text/javascript" th:src="@{/vendors/jquery/jquery.js}"></script>
	
</head>

<body>
	<header>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand  hidden-xs" href="/"> <img
				class="small-logo" alt="UTFPR"
				th:src="@{/images/logo.png}" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/home') ? 'active':''}">
						<a class="nav-link"  th:href="@{/home}"><i class="fa fa-home"></i> Principal</a>
					</li>
					<li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/genero') ? 'active':''}">
						<a class="nav-link" th:href="@{/genero/page}"><i class="fa fa-book"></i> Gêneros</a>
					</li>
					<li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/produtora') ? 'active':''}">
						<a class="nav-link" th:href="@{/produtora/page}"><i class="fa fa-film"></i> Produtoras</a>
					</li>
					<li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/serie') ? 'active':''}">
						<a class="nav-link" th:href="@{/serie}"><i class="fa fa-tv"></i> Série</a>
					</li>
					<li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/episodio') ? 'active':''}">
						<a class="nav-link" th:href="@{/episodio}"><i class="fa fa-couch"></i> Episódio</a>
					</li>
				</ul>
				<a th:href="@{/logout}" class="btn btn-outline-danger"><i class="fa fa-sign-out-alt"></i> Sair</a>
			</div>
		</nav>
	</header>

	<section class="ut-layout-content" layout:fragment="conteudo">
		As páginas serão carregadas aqui...
	</section>
	<footer class="">
		<div class="container-fluid">
			<span>&copy; 2019 UTFPR. Todos os direitos reservados.</span>
		</div>
	</footer>
	<script type="text/javascript" th:src="@{/js/crud.js}"></script>
	<script type="text/javascript" th:src="@{/vendors/sweetalert/sweetalert-dev.js}"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
	
	<script src="http://parsleyjs.org/dist/parsley.min.js"></script>
    <script type="text/javascript" th:src="@{/vendors/parsley/pt-br.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/crud-usuario.js}"></script>
    
	<script type="text/javascript">
		$('.datepicker').datepicker({
			 format: "dd/mm/yyyy",
			 autoclose: true
		});
	</script>
</body>
</html>