<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    </head>
    <body>
        <div th:switch="${generos}" class="container my-5">
        	<div class="row">
        	
        	<div class="col-md-6">
        	<a th:href="@{/genero/new}" class="btn btn-primary">
        	<i class="fas fa-plus"></i>Novo</a>
        		<h2 th:case="null">Nenhum registro encontrado!</h2>
        		<div th:case ="*">
        			<h2 class="my-5">Lista de Gêneros</h2>
        			<table class="table table-striped table-responsive-md">
        				<thead>
        				<tr>
        				<th>Código</th>
        				<th>Nome</th>
        				<th>Editar</th>
        				<th>Remover</th>
        				
        				</tr>      				
        				</thead>
        				<tbody>
        					<tr th:each="genero: ${generos}">        						
        						<td th:text="${genero.id}"></td>
        						<td th:text="${genero.nome}"></td> 
        						<td><a th:href="@{/genero/{id}(id=${genero.id})}" class="btn btn-primary">
								<i class="fas fa-edit ml-2"></i></a>        						
        						</td>
        						<td>
        						<form method="post" th:action="@{/genero/{id}?_method=DELETE(id=${genero.id})}">
        							<input type="hidden" name="_method" value="DELETE">
        							<button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
        						</form>
        						
        						</td>    					
        					</tr>        				
        				</tbody>        			
        			</table>   			
        		</div>
        	</div>
        	
        	</div>
        	
        </div>
    </body>
</html>