<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h2>Lista de Usuário</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<a class="btn btn-primary" data-toggle="modal" 
						data-target="#modal-form" onclick="clearForm()"> 
							<i class="fa fa-plus-square"></i> Novo Registro
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="table-responsive">
				<table id="tabela-usuario"
					class="table  table-striped  table-bordered  table-hover  table-condensed">
					<thead class="ut-table-header-solid">
						<tr>
							<th>Código</th>
							<th>Nome</th>
							<th>Usuário</th>
							<th>Permissões</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:id="'row_' + ${usuario.id}" th:each="usuario: ${list.content}">
							<td style="width:150px" class="text-center" th:text="${usuario.id}">0</td>
							<td><a th:href="'javascript:editUsuario(\'/usuario/ajax/' + ${usuario.id} + '\');'"
								th:text="${usuario.nome}">...</a></td>
							
							<td th:text="${usuario.username}">...</td>
							<td>
								<ul class="list-inline">
									<li class="list-inline-item" th:each="permissao: ${usuario.permissoes}">
										<i class="fa fa-user-tag"></i>
										<span th:text="${permissao.nome}"></span>
									</li>
								</ul>
							</td>
							<td style="width:200px" class="text-center">
								<a 
th:href="'javascript:editUsuario(\'/usuario/ajax/' + ${usuario.id} + '\');'"
									class="btn btn-primary btn-xs"> <i class="fa fa-edit"></i>
								</a> &nbsp;
								<a th:href="'javascript:remove('+ ${usuario.id} +',\'/usuario\');'"
									class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
						<tr th:if="${list.empty}">
							<td colspan="4">Nenhum registro encontrado.</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example">
					<ul class="pagination" th:if="${list.totalPages > 0}" >
						<li class="page-item" 
							th:classappend="${pageNumber==list.number + 1} ? active" 
							th:each="pageNumber : ${pageNumbers}">
					    	<a class="page-link" 
					    	    th:href="@{/usuario/page(size=${list.size}, page=${pageNumber})}"
					        	th:text="${pageNumber}"></a>
				        </li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="modal modal-form" th:id="modal-form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Usuário</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">x</button>
					</div> <!-- modal-header -->
					<form id="frm" name="frm"
							method="POST" class="form-vertical" 
							th:action="@{/usuario/ajax}"
							data-parsley-validate="parsley">
					<div class="modal-body">
							<input type="hidden" id="id" name="id"/>
							<div class="form-group">
								<label for="nome">Nome</label> 
								<input type="text" class="form-control" 
									id="nome" name="nome"
									required
									data-parsley-required 
									data-parsley-error-message="O Nome é obrigatório"/>
							</div>
							<div class="form-group">
								<label for="username">Usuário</label> 
								<input type="text" class="form-control" 
									id="username" name="username" required />
							</div>
							<div class="form-group">
								<label for="password">Senha</label> 
								<input type="password" class="form-control" 
									id="password" name="password" required />
							</div>
							<div class="form-group">
								<label>Permissões:</label>
								<div th:each="permissao: ${permissoes}">
									<input type="checkbox" name="permissoes" 
										th:id="'chk_' + ${permissao.id}" 
										th:value="${permissao.id}"/>
									<label
									th:for="'chk_' + ${permissao.id}"
									 th:text="${permissao.nome}"></label>
								</div>
							</div>
						
					</div> <!-- modal-body -->
					<div class="modal-footer">
						<button type="button" class="btn" data-dismiss="modal"
							aria-hidden="true">Cancelar</button>
						<button type="submit" class="btn btn-success">Salvar</button>
					</div>
					</form>
				</div> <!-- modal-content -->
			</div> <!-- modal-dialog -->
		</div> <!-- modal-form -->
	</section>
</body>
</html>










